<article class="blog">
    <div class="title">
        <h3>
            <a href="/blogs/{{id}}">{{title}}</a>
        </h3>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="blog-text">
        <p>{{blog_text}}</p>
    </div>
</article>