<article class="blog">
    <div class="title">
        <h3>
            <a href="/blogs/{{id}}">{{title}}</a>
        </h3>
        <p>On {{created_at}}, {{user.username}} wrote</p>
    </div>
    <div class="blog-text">
        <p>{{blog_text}}</p>
    </div>
</article>